@import "tailwindcss";

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.text-pecha-primary{
    color:#12dfec
}
.text-pecha-secondary{
    color:#8e57f1
}
.text-pecha-tertiary{
    color:#f2f4f4
}


.bg-pecha-primary {
    background-color:#12dfec;
}
.bg-pecha-secondary {
    background-color:#8e57f1;
}
.bg-pecha-tertiary {
    background-color:#f2f4f4;
}

